---
layout: default
title: Papers Breif
subtitle: /tʃaʊ/
description:
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="portfolio">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<div class="portfolio-item" style="margin-left:5%">

			<a class="portfolio-item__link" href="{{ project.url }}">

				<div class="portfolio-item__image" style="background-image: url({{ project.featured_image  }});"></div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info" style="margin-top:5%">
						<h2 class="portfolio-item__title">{{ project.title }}</h2>
						<p class="portfolio-item__subtitle">{{ project.subtitle }}</p>
						{% for tag in project.categories %}
							<!-- <a href="#{{ tag | slugify }}"> {{ tag }} </a> -->
							<p class="portfolio-item__subtitle" style="display:inline; margin-left:1%">#<i>{{ tag }}</i> </p>
						{% endfor %}
					</div>
				</div>

			</a>

		</div>

		{% endfor %}

	</div>

	<div style="margin-top:10%">
			<p style="margin-top:5%; margin-left:5%" ><b>I will be adding more on a regular basis. </b></p>
			<div style="float:left; margin-left:5%; width:3%; height:3%"><img src="/img/claim_sign.png" alt="claim_sign" ></div>
			<div style="float:left; margin-left:1%">This claim is disputed.</div>
			<div style="clear: left;"/>
	</div>

</section>
