---
layout: default
title: Papers Breif
subtitle: /pap/
description: PhD candidate, Computer Vision. Gamer.
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="portfolio">

	<div class="wrap">

		{% for post in site.posts %}

		<div class="portfolio-item" style="margin-left:5%">

			<a class="portfolio-item__link" href="{{ post.url }}">

				<div class="portfolio-item__image" style="background-image: url({{ post.featured_image  }});"></div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info" style="margin-top:5%">
						<h2 class="portfolio-item__title">{{ post.title }}</h2>
						<p class="portfolio-item__subtitle">{{ post.subtitle }}</p>
						{% for tag in post.tags %}
						  {% assign tag_slug = tag | slugify: "raw" %}
						  <a class="tag-link"
						    href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
						    rel="category tag" style="margin-left:2%">
						    #{{ tag }}
						  </a>
						{% endfor %}
					</div>
				</div>

			</a>

		</div>

		{% endfor %}


	</div>

	<div style="margin-top:10%">
			<p style="margin-top:5%; margin-left:5%" ><b>I will be adding more on a regular basis. </b></p>
			<div style="float:left; margin-left:5%; width:3%; height:3%"><img src="/img/claim_sign.png" alt="claim_sign" ></div>
			<div style="float:left; margin-left:1%">This claim is disputed.</div>
			<div style="clear: left;"/>
	</div>

</section>
